.contacts__select {
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px 5px 20px;
    margin-top: 37px;

}
